.product-card__container {
  padding: 20px 70px;
  height: 60vh;
  display: flex;
}

.product-cart__column {
  display: flex;
  flex-direction: column;
  flex: 50%;
  gap: 10px;
}

.product-card__title {
  font-size: 30px;
  font-weight: 700;
  color: aliceblue;
  text-transform: uppercase;
}

.product-card__price {
  font-size: 20px;
  font-weight: 700;
  color: aliceblue;
  text-transform: uppercase;
}

.product-card__container img {
  width: 90%;
}

.product-card__gallery {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.product-card__gallery img {
  width: 30%;
  cursor: pointer;
}

.product-card__about {
  font-size: 20px;
  letter-spacing: 3px;
  color: aliceblue;
}