.shopping-header {
  height: 90px;
  background-image: linear-gradient(rgb(56, 56, 56), rgb(58, 58, 58));
}

.shopping-header ul {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 15px 70px;
  background-color: #B92822;
  opacity: 0.9;
}

.shopping-header__title {
  width: 200px;
  margin: 30px auto;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid #B92822;
  border-radius: 10px;
  color: aliceblue;
  font-size: 30px;
  font-weight: 700;
}

.shopping-header ul::before {
  position: absolute;
  content: '';
  background-image: url(https://i.ibb.co/m9wvWdf/Logo-SDSchool-S.png);
  background-repeat: no-repeat;
  background-size: 160px 160px;
  display: inline-block;
  width: 160px;
  height: 160px;
  left: calc(100%/2 - 80px);
  top: -50px;
}

.shopping-header ul div {
  display: flex;
  gap: 80px;
}

.shopping-header a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: aliceblue;
}