.shopping-bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  padding: 0px 0px 30px;
}

.shopping-bag p {
  color: #F9FAFD;
  font-size: 18px;
}

.shopping-bag ul {
  list-style: none;
}

.shopping-bag__buy-button {
  width: 200px;
  height: 40px;
  background-color: #B92822;
  color: #F9FAFD;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.shopping-bag__buy-button:hover {
  background-color: burlywood;
  transition: all 0.5s;
}

.shopping-bag__buy-button:active {
  background-color: coral;
  transition: none;
}

.shopping-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1300px;
}

.shopping-list-wrapper p {
  margin: 0;
  font-weight: 700;
}

.shopping-list-wrapper ul {
  padding: 0;
  line-height: 40px;
  font-size: 18px;
  color: aliceblue;
}

.shopping-list-wrapper li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #494949;
}